/* Reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo {
    margin-right: 76px;
    padding: 24px 0;
}

.accent {
    color: #4d5ae5;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list a {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link.current a {
    position: relative;
}

.nav-list-item-link.current a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-list a:hover,
.nav-list a:focus, 
.nav-list-item-link.current a {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list a {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: #404bbf;
}

/* endregion header */

/* region hero */
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office.jpg")
;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* endregion hero */

/* region features */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

img{
    display: flex;;
}

.features-title {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.features-text {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* endregion features */

/* region team */
.team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-card {
    padding: 32px 16px;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* endregion team */

/* region portfolio */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* endregion portfolio */

/* region footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-logo .accent {
    color: #4d5ae5;
}

.footer-text {
    max-width: 264px;
    margin-top: 16px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* endregion footer */